# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
env/
ENV/

# Django static and media
/staticfiles/
/media/

# Database
*.sqlite3

# VSCode settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

# Migrations (optional, if you want to exclude them)
# */migrations/
